    a
    {
        color:grey;
    }
    .navbar-fixed-top
    {
        height: 60px;
        background-color: white;
        line-height: 5;
        width: 100%;
        position: sticky;
    }
    .navbar-default
    {
        top:60px;
    }
        ul li {
            display: block;
        }
        ul li:hover {
            background:white;
        }
        ul li:hover ul {
            display: block;
        }
        ul li ul 
        {
            position: relative;
            width: 100px;
            display: none;
        }
        ul li ul li { 
            background: white; 
            display: block; 
        }
        ul li ul li a {
            display:block !important;
        } 
        ul li ul li:hover {
            background: white;
        }  
        .item{
            height:450px;
        }
        .arrival
        {
            height: 5px;
            background-color: #fff;
            position: sticky;
        }
        .collection
        {
            float: right;
        }
        .maincontent1{
            background-color: white;
        }
        .maincontent2{
            background-color: white;
            padding: 50px;
        }
        .card {
            width: 130px;
            height: 195px;
            background: url("/examples/images/card-back.jpg") no-repeat;
            margin: 50px;
        }
        .card:hover {
            background: url("/examples/images/card-front.jpg") no-repeat;
        }
        .sticky{
            position: sticky;
            top: 120px;
            z-index: 1;
            background-color:white;
            height: 40px;
        }
        .thumbnail:hover .overlay{
        opacity: 1;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-top: 6px;
    height: 100%;
    width: 95%;
    opacity: 0;
    transition: .5s ease;
    }

    .button_style{
        width: 180px;
        margin-bottom: 5px;
    }